/*
	* Картинки
*/
$img: '../img/';

/*
	* Цвета
*/

$red_light: #FFF1E6;
$red_brown: #FEE3CC;
$dark: #171717;
$dark2: #111827;
$white: #fff;
$orange: #FB7101;

/*
	* Шрифты
*/
$main-font: 'HelveticaNeue', 'Arial', 'Helvetica', sans-serif;

/*
	* Тени
*/

/*
	* Градиенты
*/

/*
	* Размеры
*/
$container: 1200px;


$pc-medium: 1620px;
$tablet-large: 1200px;
$tablet-middle: 900px;
$tablet-mini: 750px;
$mobile-large: 599px;
$mobile-medium: 400px;
$mobile-small: 350px;