header.header 
	.container 
		a.logo(href="/")
			+logo-svg
		ul.menu
			li.menu-item 
				a.menu__link(href="#") О конкурсе
			li.menu-item 
				a.menu__link(href="#") Как стать победителем?
			li.menu-item 
				a.menu__link(href="#") Как принять участие?