mixin mainscreen 
	section.mainscreen
		.container 
			.inner 
				h2.mainscreen__subtitle Партнерский Марафон — Зимний Сезон
				h1.mainscreen__title Конкурс <br> для партнеров 
				p.mainscreen__text Станьте самым активным партнером в ноябре 2021 – январе 2022 И выиграйте крутые призы от AMarkets!
				ul.actions
					li.actions-item
						a.btn.btn_orange(href="") Стать партнером
			img.mainscreen__img(src=img+"mainscreen/image.jpg", srcset=img+"mainscreen/webp/image.webp" alt="")